html, body, div, header, nav, main, section, footer
{
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 62.5%;
}

main {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    position: static;
    overflow: hidden;
    background-image: url("../image/desktop1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

nav {
    height: 100%;
    width: 60px;
    position: fixed;
    left: 0;
    z-index: 1;
    background: rgba(250, 250, 250, 0.3);
}

.menu-icon-container {
    margin: 10px;
    width: 40px;
    height: 40px;
    background-color: #b17174;
    border-radius: 4px;
}

.restart-icon-container {
    width: 100%;
    height: 50px;
    background-color: #714749;
}

.restart-icon {
    width: 30px;
    margin-left: 15px;
    margin-top: 10px;
}

.menu-icon {
    width: 30px;
    margin-left: 5px;
    margin-top: 5px;
}

.app-window {
    left: 200px;
    top: 200px;
    position: relative;
    width: 400px;
    height: 400px;
    background: rgba(250, 250, 250, 0.5);
    border-radius: 5px;
}

.app-window-icon {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    height: 20px;
}

.app-window-option {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    height: 20px;
}

.app-top-border {
    position: absolute;
    top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 30px;
    background: -moz-linear-gradient(top,  rgba(177,113,116,0.5) 0%, rgba(177,113,116,0.5) 1%, rgba(104,66,67,0.5) 100%);
    background: -webkit-linear-gradient(top,  rgba(177,113,116,0.5) 0%,rgba(177,113,116,0.5) 1%,rgba(104,66,67,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(177,113,116,0.5) 0%,rgba(177,113,116,0.5) 1%,rgba(104,66,67,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80b17174', endColorstr='#80684243',GradientType=0 );
}

.focused {
    z-index: 2;
    background: rgba(250, 250, 250, 1.0);
}
